[Unit]
Description=Clipboard
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=greenclip daemon

[Install]
WantedBy=multi-user.target
